.re-button{
    background-image: linear-gradient(to bottom, #E89B28, #D57226);
    box-shadow: 0 0 10px rgba(27, 18, 0, 0.1);
    text-decoration: none;
    border-radius: 5rem;
    color: #ffffff;
    padding: 4px 26px;
    position: relative;
    top: 30px;
}