.header_section{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.header_section p{
    background-image: linear-gradient(to bottom, #F85032, #E73827);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    font-weight: 200;
}
.header_section h1{
    font-size: 40px;
    color: #332d2d;
    line-height: 3rem;
    font-weight: 200;
}
.right_section{
    position: relative;
    z-index: 999;
}
.right_section img{
    position: absolute;
    top: -14rem;
    left: -4rem;
    width: 140%;
}
